<a href="#" class="logo__link block my-4">
    <img src="/images/logo.png" alt="logo-photo" class="logo__img mx-auto" />
  </a>
  
  <div class="sidebar-profile mt-4 mb-8 flex justify-between items-center ">
    <div class="sidebar-profile__right flex gap-2 flex-col xl:flex-row">
      <img
        src="/images/avatar.png"
        alt="avatar"
        class="sidebar-profile__img rounded-full size-15"
      />
  
      <div
        class="sidebar-profile-Specifications flex flex-col justify-between"
      >
        <h4
          class="sidebar-profile-Specifications__name text-sm lg:text-[22px]"
        >
          معین کاملان
        </h4>
        <h5
          class="sidebar-profile-Specifications__roll text-sm font-iranSansDemiBold"
        >
          زبان آموز
        </h5>
      </div>
    </div>
  
    <div class="sidebar-profile__icons flex gap-2">
      <svg
        class="size-7.5 sidebar-profile__arrow-icon"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m19.5 8.25-7.5 7.5-7.5-7.5"
        />
      </svg>
  
      <svg
        class="size-7.5 sidebar-profile__notification-icon"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0"
        />
      </svg>
    </div>
  </div>