<a
  routerLink="/myCourses/courseDetails/interactionBooks"
  class="myCourses-card-desktop hidden w-full lg:grid items-center grid-cols-7 gap-6 *:whitespace-break-spaces *:not-last:text-main-black *:text-center"
>
  <span class="myCourses-card-desktop__title">{{ course.title }}</span>
  <span class="myCourses-card-desktop__level">{{ course.level }}</span>
  <span class="myCourses-card-desktop__term">{{ course.term }}</span>
  <span class="myCourses-card-desktop__start-time">{{ course.date }} </span>
  <span class="myCourses-card-desktop__members">{{ course.members }}</span>



  <span [appCourseStatus] ="course.status"
  class="myCourses-card-desktop__status  rounded-sm py-2 px-1 font-iranSansDemiBold max-xl:text-sm"
  >{{ course.status }}</span>



  <button
    mat-icon-button
    (click)="togglePopup($event, menu)"
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      class="!bg-red-200"
      (click)="onDeleteClick(course.id!)"
    >
      <mat-icon>delete</mat-icon>
      <span class="font-iranSansDemiBold">حذف</span>
    </button>
    <button mat-menu-item class="!bg-blue-200" (click)="onEditClick(course)">
      <mat-icon>edit</mat-icon>
      <span class="font-iranSansDemiBold">ویرایش</span>
    </button>
    
  </mat-menu>
</a>
