<a routerLink="/myCourses/courseDetails/interactionBooks"
    class="myCourses-card-desktop hidden w-full lg:grid items-center grid-cols-7 gap-6 *:whitespace-break-spaces *:not-last:text-main-black *:text-center ">
    <span class="myCourses-card-desktop__title">{{course.title}}</span>
    <span class="myCourses-card-desktop__level">{{course.level}}</span>
    <span class="myCourses-card-desktop__term">{{course.term}}</span>
    <span class="myCourses-card-desktop__start-time">{{course.date}} </span>
    <span class="myCourses-card-desktop__members">{{course.members}}</span>
@switch(course.status) {
    @case("در حال برگزاری") {
        <span class="myCourses-card-desktop__status !text-main-blue bg-light-blue rounded-sm py-2
        px-1  font-iranSansDemiBold max-xl:text-sm  " appCourseStatus>{{course.status}}</span>
    }
    @case("در انتظار برگزاری") {
        <span class="myCourses-card-desktop__status !text-[#0EB465] bg-[#F0FFF8]  rounded-sm py-2
        px-1  font-iranSansDemiBold max-xl:text-sm ">{{course.status}}</span>
    }
    @case("در انتظار تکمیل ظرفیت") {
        <span class="myCourses-card-desktop__status !text-[#F8B604] bg-[#FFFCF2]  rounded-sm py-2
        px-1  font-iranSansDemiBold max-xl:text-sm ">{{course.status}}</span>
    }
    @case("پایان یافته") {
        <span class="myCourses-card-desktop__status !text-[#FF233D] bg-[#FFF2F4]  rounded-sm py-2
        px-1  font-iranSansDemiBold max-xl:text-sm ">{{course.status}}</span>
    }
    @default {
<span  class="myCourses-card-desktop__status !text-main-blue bg-light-blue rounded-sm py-2
px-1  font-iranSansDemiBold max-xl:text-sm ">{{course.status}}</span>
    }

}

<!-- <span [appCourseStatus]="course.status" class="myCourses-card-desktop__status !text-main-blue bg-light-blue rounded-sm py-2
px-1  font-iranSansDemiBold max-xl:text-sm ">{{course.status}}</span> -->
    
    <!-- <div
       (click)="togglePopup($event , popup)" class="myCourses-card-desktop__btn  rounded-lg text-main-black text-5.5 flex justify-center items-center h-12  w-1/2 text-center mx-auto relative">
        . . .

        <div class="popup text center divider bg-white *:py-2 *:cursor-pointer pointer-events-none opacity-0 invisible  *:w-[80px] rounded-sm absolute top-full text-main-black font-iranSansDemiBold rounded-sm overflow-hidden" #popup>
            <button class="delete-course-btn bg-red-300 ">حذف</button>
            <button class="delete-course-btn bg-blue-200 ">ویرایش</button>
        </div>
     </div> -->

     <button mat-icon-button (click)="togglePopup($event , menu)" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu"  >
        <button mat-menu-item class="!bg-red-200" (click)="onDeleteClick(course.id!)" >
          <mat-icon>delete</mat-icon>
          <span class="font-iranSansDemiBold" >حذف</span>
        </button>
        <button mat-menu-item class="!bg-blue-200" (click)="onEditClick(course)">
          <mat-icon>edit</mat-icon>
          <span class="font-iranSansDemiBold">ویرایش</span>
        </button>
        <button mat-menu-item class="!bg-yellow-200" >
          <mat-icon>add</mat-icon>
          <span class="font-iranSansDemiBold">دوره جدید</span>
        </button>
      </mat-menu>

</a>
