<div class=" py-4 px-3 xl:max-w-[1144px] xl:mx-auto">
    <div class="course-details-notification-box border border-[#0EB465] bg-[#F0FFF8] rounded-sm gap-7  px-4 flex items-center justify-between min-h-[150px] md:min-h-20">
        <p class="course-details-notification-box__text text-[#0EB465] font-iranSansDemiBold text-sm sm:text-5.5">
          جلسه توسط مربی شروع شد. از طریق لینک روبه رو وارد کلاس آنلاین شوید.
        </p>
        <a href="#" class="course-details-notification-box__link text-main-blue text-5.5">لینک</a>
      </div>
    
    <div class="course-details-content__books-container  mt-4 h-full *:block grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 *:shadow *:pb-2">
             
        <app-course-book></app-course-book>
        <app-course-book></app-course-book>
        <app-course-book></app-course-book>
        <app-course-book></app-course-book>
    </div>
</div>