<div class="custom-container">
  <div class="hero my-4 sm:my-0 sm:flex sm:flex-col sm:grow-2">
    <div
      class="hero__mobile flex items-center rounded-xs bg-main-white sm:hidden"
    >
      <div class="hero__content text-main-black px-5.5 max-w-75">
        <h2 class="hero__title mb-1 font-iranSansDemiBold xs:text-2xl">
          خوش آمدی معین!
        </h2>
        <p class="hero__caption font-iranSansRegular text-[11px] xs:text-lg">
          موفقیت، تحقق تدریجی یک هدف ارزشمند است.
        </p>
      </div>

      <img
        src="/images/hero-img.png"
        alt="hero-photo"
        class="hero__img grow-5"
      />
    </div>

    <img
      src="/images/my-courses-banner.png"
      alt="banner-photo"
      class="hero__banner hidden w-full grow sm:flex shadow-xl"
    />
  </div>

 <app-my-courses-bottom></app-my-courses-bottom>
</div>
