<div class="course__card p-2 rounded-lg bg-main-white shadow-sm">
    <div
      class="course__img-container rounded-lg px-7 pt-2.5 pb-5 bg-dashboard-bg xl:py-[25px] xl:px-[51px]"
    >
      <img
        src="/images/course-img.png"
        alt="course-phout"
        class="course__img object-cover w-full h-full max-h-44 "
      />
    </div>

    <h3
      class="course__title text-sm/5 text-main-black font-iranSansDemiBold mt-2 "
    >
      Big English 4
    </h3>
    <h4
      class="course__level mb-2 text-xs text-[#1D1D1D] font-iranSansDemiBold "
    >
      A2
    </h4>

    <a
      href="#"
      class="course__btn block py-[5px] text-main-white bg-main-blue rounded-sm text-center text-sm font-iranSansDemiBold"
      >نمایش</a
    >
  </div>