<div class="course-details-content__books-container-btns pt-7 px-6 pb-3.5 flex gap-6 text-[#B5B5B5] text-sm   lg:text-[22px]/7 ">
    <button class="course-details-content__books-container-btn">همه</button>
    <button class="course-details-content__books-container-btn">جدید</button>
    <button class="course-details-content__books-container-btn">در انتظار پاسخ</button>
    <button class="course-details-content__books-container-btn">انجام شده ها</button>
    <button class="course-details-content__books-container-btn">انجام نشده</button>
 </div>


<div class="course-details-content__books-container    h-full *:block grid gap-4 grid-cols-1  lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-6    *:shadow p-2.5">

    <app-practice-card></app-practice-card>
    <app-practice-card></app-practice-card>
    <app-practice-card></app-practice-card>
    <app-practice-card></app-practice-card>
    <app-practice-card></app-practice-card>
    <app-practice-card></app-practice-card>
    <app-practice-card></app-practice-card>
    <app-practice-card></app-practice-card>
    <app-practice-card></app-practice-card>
    <app-practice-card></app-practice-card>
   
  
</div>