<div class="calendar bg-main-white rounded-lg shrink-0 w-[380px] hidden xl:block shadow-sm">
    <div
      class="calendar-header p-4 flex items-center justify-between text-main-black border-b border-[#E0E0E0]"
    >
      <svg
        class="calendar-header__icon stroke-current size-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m8.25 4.5 7.5 7.5-7.5 7.5"
        />
      </svg>

      <span class="calendar__month text-[22px]">دی</span>

      <svg
        class="calendar-header__icon stroke-current size-6 rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m8.25 4.5 7.5 7.5-7.5 7.5"
        />
      </svg>
    </div>

    <div
      class="calendar__week-days py-2 px-4 grid grid-cols-7 *:text-[#5E5E5E] *:text-sm *:font-iranSansDemiBold *:text-center"
    >
      <span class="calendar__week-day">ش</span>
      <span class="calendar__week-day">ی</span>
      <span class="calendar__week-day">د</span>
      <span class="calendar__week-day">س</span>
      <span class="calendar__week-day">چ</span>
      <span class="calendar__week-day">پ</span>
      <span class="calendar__week-day">ج</span>
    </div>

    <div
      class="calendar__days grid grid-cols-7 py-6 px-4 *:text-center gap-y-4"
    >
      <span class="calendar__day py-1.5"></span>
      <span class="calendar__day py-1.5"></span>
      <span class="calendar__day py-1.5"></span>
      <span class="calendar__day py-1.5"></span>
      <span class="calendar__day py-1.5">1</span>
      <span class="calendar__day py-1.5">2</span>
      <span class="calendar__day py-1.5 text-[#FF233D] bg-[#FFF2F4] rounded-xs"
        >3</span
      >
      <span class="calendar__day py-1.5">4</span>
      <span class="calendar__day py-1.5">5</span>
      <span class="calendar__day py-1.5">6</span>
      <span class="calendar__day py-1.5">7</span>
      <span class="calendar__day py-1.5">8</span>
      <span class="calendar__day py-1.5">9</span>
      <span class="calendar__day py-1.5 text-[#FF233D] bg-[#FFF2F4] rounded-xs"
        >10</span
      >
      <span class="calendar__day py-1.5">11</span>
      <span class="calendar__day py-1.5">12</span>
      <span class="calendar__day py-1.5">13</span>
      <span class="calendar__day py-1.5">14</span>
      <span class="calendar__day py-1.5">15</span>
      <span class="calendar__day py-1.5">16</span>
      <span class="calendar__day py-1.5 text-[#FF233D] bg-[#FFF2F4] rounded-xs"
        >17</span
      >
      <span class="calendar__day py-1.5">18</span>
      <span class="calendar__day py-1.5">19</span>
      <span class="calendar__day py-1.5">20</span>
      <span class="calendar__day py-1.5">21</span>
      <span class="calendar__day py-1.5">22</span>
      <span class="calendar__day py-1.5">23</span>
      <span class="calendar__day py-1.5 text-[#FF233D] bg-[#FFF2F4] rounded-xs"
        >24</span
      >
      <span class="calendar__day py-1.5">25</span>
      <span class="calendar__day py-1.5">26</span>
      <span class="calendar__day py-1.5">27</span>
      <span class="calendar__day py-1.5">28</span>
      <span class="calendar__day py-1.5">29</span>
      <span class="calendar__day py-1.5">30</span>
      <span class="calendar__day py-1.5"></span>
    </div>
  </div>