<div
    class="course__add-card bg-light-blue p-2 border border-main-blue border-dashed rounded-lg flex flex-col justify-center items-center text-center gap-2 min-h-74 shadow-sm">
    <svg class="course-add-card__icon size-8.5" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M34 17H0" stroke="#0052CC" />
        <path d="M17 34L17 0" stroke="#0052CC" />
    </svg>

    <h4 class="course-add-card__text text-main-blue text-xs font-iranSansDemiBold">
        جهت افزودن دوره کلیک کنید
    </h4>
</div>