<div class="practice-card bg-dashboard-bg rounded-lg p-4">
<div class="practice-card__header flex justify-between">
    <div class="practice-card__header-right  flex flex-col justify-between ">
        <div class="practice-card__status border text-sm text-[#0EB465] py-0.5 px-2.5 rounded-sm text-center">جدید</div>
        <div class="practice-card__title text-2xl text-nowrap">تمرین 5</div>
    </div>
    <div class="practice-card__header-left">
        <img src="/images/info picture.png" alt="info" class="practice-card__header-left-img shrink-2">
    </div>
</div>
<div class="practice-card__date flex   items-center gap-1 justify-center my-4  text-[#0E96FD]">
    <img src="/images/large.png" alt="clock" class="practice-card__date-img xl:size-4">
    <span class="practice-card__date-text  text-nowrap 2xl:text-sm">مهلت انجام : 1402/11/11  </span>
</div>

<button class="practice-card-btn w-full py-2.5 bg-[#0052CC] text-main-white text-[22px] rounded-lg">مشاهده</button>

</div>